

.translationOrderForm, button, .filesTable, .timelineInfo,
.what-you-want-translate label, .Select-your-desired-tone label,
.TranslateFrom>div, .TranslateTo
{
  border: 1px solid grey;  
  border-radius: 5px;
}
.translationOrderForm {   
  min-width: 300px;
  margin: 0px 9% 140px 9%;
  background-color: white;

  display: flex;  
  flex-wrap: wrap;
} 
.translationOrderForm>section{
  padding: 50px 100px;
  flex-direction: column;
  /*justify-content: space-between;*/
  align-items: left;
}
input, select{
  border-radius: 3px;
  height: 30px;
  margin-right: 25px;  
}
h1, th, button, 
.how-urgent-this-job-is label,
.Choose-your-languages label{
  text-transform: uppercase;
}
button{
  padding: 10px;
  cursor:pointer;
  color: inherit;
  background-color: RGB(236, 238, 244);
}

.order-header{
  display: flex;  
  flex-wrap: wrap;
  border-bottom: 1px solid grey;
}
.order-header>section{
  font-size: 80%;
}
.order-header h1{
  font-size: 99%;
  text-indent: -20px;
}
.help-center h1{
  text-indent: -35px;
}

.your-order{
  padding: 12px 10px 10px 50px;
  min-width: 250px;
  /* flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] */
  flex: 4 4 40%
}
.order-buttons{
  padding-right: 25px;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
  min-width: 100px;
  flex: 1 1 15%  
}
.help-center{
  padding: 12px 10px 10px 50px;
  min-width: 150px;
  border-left: 1px solid grey;
  flex: 2.5 2.5 25%
}
.help-center a {
  padding-right: 2em;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

.your-order>h1::before {  
    padding: 0.7em;
    content: "";
    background: url(../edit-tablet.svg) no-repeat center;
    opacity: 0.7;
}
.help-center>h1::before {
    padding: 1.3em;
    content: "";
    background: url(../designfloat-logo-square.svg) no-repeat center;
}

.orderTable {
  padding-top: 1.5em;
  width: 100%;
}
.orderTable th{
  text-align: left;
  width: 25%;
}
.Upload-your-documents-headTableRow>th:last-child {
  text-align: center;
}

.order-buttons button {
  margin: 15px 5px;
  width: 100%;
}
.place-order-button {
  background-color: RGB(95, 202, 198);
  color: white;
}

.what-you-want-translate {
  text-align: center; 
}
.what-you-want-translate h1{
  font-weight: 100;
}
.headingWithBottomLine{
  float: left;
  align-self: center;
  padding: 10px 10px 0px 10px;
  min-width: 200px;
  border-bottom: 1px solid grey;
}
.whatTranslate{
  width: 100%;
  padding-top: 60px;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center; 
  flex-wrap: wrap;
}
.whatTranslate input {
  display:none;
}
.whatTranslate img {
  width: 50%;  
  mix-blend-mode: multiply; 
}
.whatTranslate label {
  cursor:pointer;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
  min-width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(128, 128, 128, 0.05);
}
.whatTranslate input:checked + label {
  border: 4px solid #5C92B7;
  position: relative;
}
.whatTranslate input:checked + label::after {
  position: absolute;
  right: -1em;
  top: -1em;
  padding: 5px 10px;
  content: "✔";
  font-size: 150%;
  color: white;
  background-color: #5C92B7;
  border: 1px solid #5C92B7;
  border-radius: 50%;
}
/*  111111111111111111111111111111111111111111111111111111111111111      */
.Upload-your-documents{
}

.itemTitle::before {
    margin: 1em;
    padding: .4em .75em;
    border: 1px solid RGB(177, 182, 205);
    border-radius: 2em;
    counter-increment: heading;
    content: counter(heading);
}
.itemTitle{
  text-indent: -80px;
  font-size: 110%;
  font-weight: 200; /* Жирное начертание */
}
.itemTitle small {
  font-size: 60%;
  font-weight: 100;
}
.filesTable table {
  font-size: 70%;
  width: 100%;
}
.filesTable th{
  text-align: left;
  width: 25%;
}
/*   2222222222222222222222222222222222222222222222222222222222222222222222      */
.Choose-your-languages>button,
.TranslateFrom, .TranslateTo,
.verticalDelimiter{
  height: 40px;
}
.Choose-your-languages>div{
  display: flex;  
  flex-wrap: wrap;
  /*flex-direction: raw; */
  align-items: center;
}
.TranslateFrom { 
  margin-top: 40px;
}
.Choose-your-languages label {
    width: 40px;
    text-indent: -10px;
    text-align: right;
}
.TranslateFrom>div, .TranslateTo{
    position: relative;
    height: inherit;
    width: 150px;
    background-color: rgb(236, 238, 244);
    margin: 30px 15px;    
    line-height: 40px;
}
/*.verticalDelimiter*/
.TranslateFrom div::after, .TranslateTo::after{
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    text-align: center;
    border-left-color: grey;
    border-left-style: solid;
    border-left-width: 1px;
    content: "▼";
    color: rgb(128, 128, 128);
    z-index: 1;
  }
.TranslateFrom .icon{
  background-position: -2px -2px;
  cursor: pointer;
}
.Choose-your-languages select {
    z-index: 2;
    position: relative;   
    padding: 5px 8px;
    height: 100%;
    width: 100%;
    border: none;
    box-shadow: none;
    color: rgb(128, 128, 128);
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.Choose-your-languages select:focus {
    outline: none;
}
.TranslateTo + .icon{
    margin: 0 25px 0 0;
  background-position: -52px -102px;
  cursor: pointer;
}


/*  33333333333333333333333333333333333333333333333333333333333333333333333      */
.Select-your-desired-tone{
  max-width: 300px;
}
.Select-your-desired-tone input {
  display:none;
}
.Select-your-desired-tone label {
  display: block;
  cursor:pointer;
  margin: 20px 0px;
  line-height: 50px;
  background-color: RGB(236, 238, 244);
}
.Select-your-desired-tone input:checked + label {
  position: relative;
  border: 4px solid #5C92B7;
}
.Select-your-desired-tone input:checked + label::after {
  line-height: 1em;
  position: absolute;
  right: -1em;
  top: -1em;
  padding: 5px 8px;
  content: "✔";
  font-size: 120%;
  color: white;
  background-color: #5C92B7;
  border: 1px solid #5C92B7;
  border-radius: 50%;
}

.icon { 
  margin: 5px 20px;
  width: 46px;
  height: 46px;
  float: left;
  background: url(../Icons.png) no-repeat;
  mix-blend-mode: multiply; 
}
label[for="desiredToneCasual"] .icon{
  background-position: -2px -2px;
  cursor: pointer;
}
label[for="desiredTonePro"] .icon{
  background-position: -2px -52px;
  cursor: pointer;
}
label[for="desiredToneFormal"] .icon{
  background-position: -2px -102px; /* вверх на 100px */
  cursor: pointer;
}

/*   4444444444444444444444444444444444444444444444444444444444444444444      */
.how-urgent-this-job-is{
  max-width: 400px;
}
.urgentRange {
-webkit-appearance: none;
display: flex;
margin: auto;
align-content: center;
border: 1px solid white;
width: 80%;
}
.urgentRange::-webkit-slider-runnable-track {
width: 100%;
height: 5px;
background: #ddd;
border: none;
border-radius: 3px;
}
.urgentRange::-webkit-slider-thumb {
-webkit-appearance: none;
border: none;
height: 16px;
width: 16px;
border-radius: 50%;
background: goldenrod;
margin-top: -4px;
}
.urgentRange:focus {
outline: none;
}
.urgentRange:focus::-webkit-slider-runnable-track {
background: #ccc;
}
.urgentRange::-moz-range-track {
width: 100%;
height: 5px;
background: #ddd;
border: none;
border-radius: 3px;
}
.urgentRange::-moz-range-thumb {
border: none;
height: 16px;
width: 16px;
border-radius: 50%;
background: goldenrod;
}
.urgentRange:-moz-focusring{
outline: 1px solid white;
outline-offset: -1px;
}
.urgentRange::-ms-track {
width: 100%;
height: 5px;
background: transparent;
border-color: transparent;
border-width: 6px 0;
color: transparent;
}
.urgentRange::-ms-fill-lower {
background: #777;
border-radius: 10px;
}
.urgentRange::-ms-fill-upper {
background: #ddd;
border-radius: 10px;
}
.urgentRange::-ms-thumb {
border: none;
height: 16px;
width: 16px;
border-radius: 50%;
background: goldenrod;
}
.urgentRange:focus::-ms-fill-lower {
background: #888;
}
.urgentRange:focus::-ms-fill-upper {
background: #ccc;
}

.urgentRange+div{
  display: flex; 
  justify-content: space-between;
  font-size: 70%;
  font-weight: bold;
}
.Choose-your-languages label: {
  text-transform: uppercase;
}

.timelineInfo{
  font-size: 70%;
  margin-top: 50px;
  padding: 20px;
}

.timelineInfo span{
  color: orange;
  text-transform: uppercase;
}

/*   555555555555555555555555555555555555555555555555555555555555555555555      */
.sign-in-and-payment-method>div{
  margin-top: 1em;
}
.sign-in-email-password, .paySys, .card{
  display: flex;  
  flex-wrap: wrap;
  flex-direction: row; 
}
.paySys>label{
    display: flex;
    align-items: center;
}
.cardNumber{
  width: 20em;
}
.cardCNN{
  width: 5em;
}
.mainFooter {
  margin: 40px;
  display: flex;  
  justify-content: flex-end;
  align-items: center;
}
.mainFooter button{
  margin-left: 20px;
}